<ion-header>
  <ion-navbar>
    <ion-title>
      NUOVO TITOLO
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  	<p>Buongiorno!<br>Prego digitare il proprio nome, questa app ne contera i caratteri:</p>
		<input type="text" [(ngModel)]="my_name" (ngModelChange)="text_change()">
		<br><br>
		<p *ngIf="my_name!=''">Il tuo nome ha {{char_number}} caratteri</p>
		<br><br>
		<button (click)="button_clicked()" *ngIf="my_name!=''">AGGIUNGI</button>
		<br><br>
		<p *ngFor="let elemento of lista"
		   [ngClass]="elemento.numero_caratteri>=10?'rosso':'nothing'">{{elemento.nome}} aveva {{elemento.numero_caratteri}} carattere</p>
</ion-content>
