page-home {
	p {
		color:black;
	}
	
	h1 {
		border: 1px dotted red;
		font-size:20px;
		text-align: center;
	}
	
	a {
		text-decoration: none;
		color: rgb(245, 0, 255);
		font-weight: 800;
	}
	
	input {
		width:100%;
	}
	button {
		background-color:black;
		color:white;
		font-weight:white;
	}
	
	.testi-blu{
		color: #00ff74;
	}
	
	
	#call_to_action {
		font-size: 20px;
		color:red;
	}
	
	.rosso {
		color:red;
	}
}
