<!--
  Generated template for the EsempioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>QUELLO CHE VOGLIO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	CIAO RAGAZZI!!!<br>
	Il nome dell'oggetto è {{nome_oggetto}}
	<br><br>
	<input type="text" [(ngModel)]="nome_oggetto">
</ion-content>
